<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.intelagr.mapper.AreaDevisionMapper">
	<resultMap id="AreaDevisionMap" type="AreaDevision">
		<id property="id" column="id"></id>
		<result property="cityCode" column="cityCode"></result>
		<result property="cityName" column="cityName"></result>
		<result property="townCode" column="townCode"></result>
		<result property="townName" column="townName"></result>
		<result property="countryCode" column="countryCode"></result>
		<result property="countryName" column="countryName"></result>
	</resultMap>
	<select id="queryCitys" resultMap="AreaDevisionMap">
		select distinct ma.cityCode,ma.cityName from m_areadivision ma
	</select>
	<select id="queryTownsByCityCode" resultMap="AreaDevisionMap" parameterType="java.util.Map">
		select distinct ma.townCode,ma.townName from m_areadivision ma where ma.cityCode=#{cityCode}
	</select>
	<select id="queryCountrysByCityAndTownCode" resultMap="AreaDevisionMap" parameterType="java.util.Map">
		select ma.countryCode,ma.countryName from m_areadivision ma where ma.cityCode=#{cityCode} and townCode=#{townCode}
	</select>
	<select id="select" resultMap="AreaDevisionMap" parameterType="java.util.Map">
		select * from m_areadivision
		<where>
			<if test="cityCode!=null and cityCode!=''">
				and cityCode = #{cityCode}
			</if>
			<if test="cityName!=null and cityName!=''">
				and cityName = #{cityName}
			</if>
			<if test="townCode!=null and townCode!=''">
				and townCode = #{townCode}
			</if>
			<if test="townName!=null and townName!=''">
				and townName = #{townName}
			</if>
			<if test="countryCode!=null and countryCode!=''">
				and countryCode = #{countryCode}
			</if>
			<if test="countryName!=null and countryName!=''">
				and countryName = #{countryName}
			</if>
		</where>
	</select>
	<select id="getAreaNameByCode" resultMap="AreaDevisionMap" parameterType="java.util.Map">
		select distinct #{codeKey}Name, #{codeKey}Code FROM m_areadivision WHERE #{codeKey}Code=#{code}
	</select>
	<select id="getCountryNameByCode" resultMap="AreaDevisionMap" parameterType="java.util.Map">
		select distinct #{codeKey}Name, #{codeKey}Code FROM m_areadivision WHERE townCode=#{townCode} and countryCode=#{countryCode}
	</select>
</mapper>
