<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.intelagr.mapper.BBlacklistmanagehMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.intelagr.entity.BBlacklistmanageh" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CompanyCode" property="companycode" jdbcType="VARCHAR" />
    <result column="BlackListCount" property="blacklistcount" jdbcType="INTEGER" />
    <result column="BlackListEndDate" property="blacklistenddate" jdbcType="TIMESTAMP" />
    <result column="Processor" property="processor" jdbcType="VARCHAR" />
    <result column="SettleDate" property="settledate" jdbcType="TIMESTAMP" />
    <result column="BlackListTimeLimit" property="blacklisttimelimit" jdbcType="VARCHAR" />
    <result column="BlackListReason" property="blacklistreason" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="DeleteFlag" property="deleteflag" jdbcType="VARCHAR" />
    <result column="CreateUserId" property="createuserid" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="UpdateUserId" property="updateuserid" jdbcType="VARCHAR" />
    <result column="UpdateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CompanyCode, BlackListCount, BlackListEndDate, Processor, SettleDate, BlackListTimeLimit, 
    BlackListReason, Remark, DeleteFlag, CreateUserId, CreateDate, UpdateUserId, UpdateDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oracle.intelagr.entity.BBlacklistmanagehExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_blacklistmanageh
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_blacklistmanageh
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_blacklistmanageh
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.intelagr.entity.BBlacklistmanagehExample" >
    delete from b_blacklistmanageh
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.intelagr.entity.BBlacklistmanageh" >
    insert into b_blacklistmanageh (ID, CompanyCode, BlackListCount, 
      BlackListEndDate, Processor, SettleDate, 
      BlackListTimeLimit, BlackListReason, Remark, 
      DeleteFlag, CreateUserId, CreateDate, 
      UpdateUserId, UpdateDate)
    values (#{id,jdbcType=INTEGER}, #{companycode,jdbcType=VARCHAR}, #{blacklistcount,jdbcType=INTEGER}, 
      #{blacklistenddate,jdbcType=TIMESTAMP}, #{processor,jdbcType=VARCHAR}, #{settledate,jdbcType=TIMESTAMP}, 
      #{blacklisttimelimit,jdbcType=VARCHAR}, #{blacklistreason,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{deleteflag,jdbcType=VARCHAR}, #{createuserid,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{updateuserid,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.intelagr.entity.BBlacklistmanageh" >
    insert into b_blacklistmanageh
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="companycode != null" >
        CompanyCode,
      </if>
      <if test="blacklistcount != null" >
        BlackListCount,
      </if>
      <if test="blacklistenddate != null" >
        BlackListEndDate,
      </if>
      <if test="processor != null" >
        Processor,
      </if>
      <if test="settledate != null" >
        SettleDate,
      </if>
      <if test="blacklisttimelimit != null" >
        BlackListTimeLimit,
      </if>
      <if test="blacklistreason != null" >
        BlackListReason,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="deleteflag != null" >
        DeleteFlag,
      </if>
      <if test="createuserid != null" >
        CreateUserId,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="updateuserid != null" >
        UpdateUserId,
      </if>
      <if test="updatedate != null" >
        UpdateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companycode != null" >
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="blacklistcount != null" >
        #{blacklistcount,jdbcType=INTEGER},
      </if>
      <if test="blacklistenddate != null" >
        #{blacklistenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="processor != null" >
        #{processor,jdbcType=VARCHAR},
      </if>
      <if test="settledate != null" >
        #{settledate,jdbcType=TIMESTAMP},
      </if>
      <if test="blacklisttimelimit != null" >
        #{blacklisttimelimit,jdbcType=VARCHAR},
      </if>
      <if test="blacklistreason != null" >
        #{blacklistreason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.intelagr.entity.BBlacklistmanagehExample" resultType="java.lang.Integer" >
    select count(*) from b_blacklistmanageh
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_blacklistmanageh
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companycode != null" >
        CompanyCode = #{record.companycode,jdbcType=VARCHAR},
      </if>
      <if test="record.blacklistcount != null" >
        BlackListCount = #{record.blacklistcount,jdbcType=INTEGER},
      </if>
      <if test="record.blacklistenddate != null" >
        BlackListEndDate = #{record.blacklistenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.processor != null" >
        Processor = #{record.processor,jdbcType=VARCHAR},
      </if>
      <if test="record.settledate != null" >
        SettleDate = #{record.settledate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.blacklisttimelimit != null" >
        BlackListTimeLimit = #{record.blacklisttimelimit,jdbcType=VARCHAR},
      </if>
      <if test="record.blacklistreason != null" >
        BlackListReason = #{record.blacklistreason,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteflag != null" >
        DeleteFlag = #{record.deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="record.createuserid != null" >
        CreateUserId = #{record.createuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuserid != null" >
        UpdateUserId = #{record.updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null" >
        UpdateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_blacklistmanageh
    set ID = #{record.id,jdbcType=INTEGER},
      CompanyCode = #{record.companycode,jdbcType=VARCHAR},
      BlackListCount = #{record.blacklistcount,jdbcType=INTEGER},
      BlackListEndDate = #{record.blacklistenddate,jdbcType=TIMESTAMP},
      Processor = #{record.processor,jdbcType=VARCHAR},
      SettleDate = #{record.settledate,jdbcType=TIMESTAMP},
      BlackListTimeLimit = #{record.blacklisttimelimit,jdbcType=VARCHAR},
      BlackListReason = #{record.blacklistreason,jdbcType=VARCHAR},
      Remark = #{record.remark,jdbcType=VARCHAR},
      DeleteFlag = #{record.deleteflag,jdbcType=VARCHAR},
      CreateUserId = #{record.createuserid,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      UpdateUserId = #{record.updateuserid,jdbcType=VARCHAR},
      UpdateDate = #{record.updatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.intelagr.entity.BBlacklistmanageh" >
    update b_blacklistmanageh
    <set >
      <if test="companycode != null" >
        CompanyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="blacklistcount != null" >
        BlackListCount = #{blacklistcount,jdbcType=INTEGER},
      </if>
      <if test="blacklistenddate != null" >
        BlackListEndDate = #{blacklistenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="processor != null" >
        Processor = #{processor,jdbcType=VARCHAR},
      </if>
      <if test="settledate != null" >
        SettleDate = #{settledate,jdbcType=TIMESTAMP},
      </if>
      <if test="blacklisttimelimit != null" >
        BlackListTimeLimit = #{blacklisttimelimit,jdbcType=VARCHAR},
      </if>
      <if test="blacklistreason != null" >
        BlackListReason = #{blacklistreason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        CreateUserId = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        UpdateUserId = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        UpdateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.intelagr.entity.BBlacklistmanageh" >
    update b_blacklistmanageh
    set CompanyCode = #{companycode,jdbcType=VARCHAR},
      BlackListCount = #{blacklistcount,jdbcType=INTEGER},
      BlackListEndDate = #{blacklistenddate,jdbcType=TIMESTAMP},
      Processor = #{processor,jdbcType=VARCHAR},
      SettleDate = #{settledate,jdbcType=TIMESTAMP},
      BlackListTimeLimit = #{blacklisttimelimit,jdbcType=VARCHAR},
      BlackListReason = #{blacklistreason,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      CreateUserId = #{createuserid,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      UpdateUserId = #{updateuserid,jdbcType=VARCHAR},
      UpdateDate = #{updatedate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>