<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.intelagr.mapper.BGrainfarmerdetailMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.intelagr.entity.BGrainfarmerdetail" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="HID" property="hid" jdbcType="INTEGER" />
    <result column="FarmerName" property="farmername" jdbcType="VARCHAR" />
    <result column="IDNumber" property="idnumber" jdbcType="VARCHAR" />
    <result column="ActualMu" property="actualmu" jdbcType="REAL" />
    <result column="MeasurementMu" property="measurementmu" jdbcType="REAL" />
    <result column="RegisteredTotalYield" property="registeredtotalyield" jdbcType="REAL" />
    <result column="GrainTotalYield" property="graintotalyield" jdbcType="REAL" />
    <result column="EstimateTotalYield" property="estimatetotalyield" jdbcType="REAL" />
    <result column="SeedPurchaseTotal" property="seedpurchasetotal" jdbcType="REAL" />
    <result column="SoldYield" property="soldyield" jdbcType="REAL" />
    <result column="SurplusYield" property="surplusyield" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="DeleteFlag" property="deleteflag" jdbcType="VARCHAR" />
    <result column="CreateUserId" property="createuserid" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="UpdateUserId" property="updateuserid" jdbcType="VARCHAR" />
    <result column="UpdateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, HID, FarmerName, IDNumber, ActualMu, MeasurementMu, RegisteredTotalYield, GrainTotalYield, 
    EstimateTotalYield, SeedPurchaseTotal, SoldYield, SurplusYield, Remark, DeleteFlag, 
    CreateUserId, CreateDate, UpdateUserId, UpdateDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oracle.intelagr.entity.BGrainfarmerdetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_grainfarmerdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_grainfarmerdetail
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_grainfarmerdetail
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.intelagr.entity.BGrainfarmerdetailExample" >
    delete from b_grainfarmerdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.intelagr.entity.BGrainfarmerdetail" >
    insert into b_grainfarmerdetail (ID, HID, FarmerName, 
      IDNumber, ActualMu, MeasurementMu, 
      RegisteredTotalYield, GrainTotalYield, EstimateTotalYield, 
      SeedPurchaseTotal, SoldYield, SurplusYield, 
      Remark, DeleteFlag, CreateUserId, 
      CreateDate, UpdateUserId, UpdateDate
      )
    values (#{id,jdbcType=INTEGER}, #{hid,jdbcType=INTEGER}, #{farmername,jdbcType=VARCHAR}, 
      #{idnumber,jdbcType=VARCHAR}, #{actualmu,jdbcType=REAL}, #{measurementmu,jdbcType=REAL}, 
      #{registeredtotalyield,jdbcType=REAL}, #{graintotalyield,jdbcType=REAL}, #{estimatetotalyield,jdbcType=REAL}, 
      #{seedpurchasetotal,jdbcType=REAL}, #{soldyield,jdbcType=REAL}, #{surplusyield,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{deleteflag,jdbcType=VARCHAR}, #{createuserid,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{updateuserid,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.intelagr.entity.BGrainfarmerdetail" >
    insert into b_grainfarmerdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="hid != null" >
        HID,
      </if>
      <if test="farmername != null" >
        FarmerName,
      </if>
      <if test="idnumber != null" >
        IDNumber,
      </if>
      <if test="actualmu != null" >
        ActualMu,
      </if>
      <if test="measurementmu != null" >
        MeasurementMu,
      </if>
      <if test="registeredtotalyield != null" >
        RegisteredTotalYield,
      </if>
      <if test="graintotalyield != null" >
        GrainTotalYield,
      </if>
      <if test="estimatetotalyield != null" >
        EstimateTotalYield,
      </if>
      <if test="seedpurchasetotal != null" >
        SeedPurchaseTotal,
      </if>
      <if test="soldyield != null" >
        SoldYield,
      </if>
      <if test="surplusyield != null" >
        SurplusYield,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="deleteflag != null" >
        DeleteFlag,
      </if>
      <if test="createuserid != null" >
        CreateUserId,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="updateuserid != null" >
        UpdateUserId,
      </if>
      <if test="updatedate != null" >
        UpdateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hid != null" >
        #{hid,jdbcType=INTEGER},
      </if>
      <if test="farmername != null" >
        #{farmername,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null" >
        #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="actualmu != null" >
        #{actualmu,jdbcType=REAL},
      </if>
      <if test="measurementmu != null" >
        #{measurementmu,jdbcType=REAL},
      </if>
      <if test="registeredtotalyield != null" >
        #{registeredtotalyield,jdbcType=REAL},
      </if>
      <if test="graintotalyield != null" >
        #{graintotalyield,jdbcType=REAL},
      </if>
      <if test="estimatetotalyield != null" >
        #{estimatetotalyield,jdbcType=REAL},
      </if>
      <if test="seedpurchasetotal != null" >
        #{seedpurchasetotal,jdbcType=REAL},
      </if>
      <if test="soldyield != null" >
        #{soldyield,jdbcType=REAL},
      </if>
      <if test="surplusyield != null" >
        #{surplusyield,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.intelagr.entity.BGrainfarmerdetailExample" resultType="java.lang.Integer" >
    select count(*) from b_grainfarmerdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_grainfarmerdetail
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hid != null" >
        HID = #{record.hid,jdbcType=INTEGER},
      </if>
      <if test="record.farmername != null" >
        FarmerName = #{record.farmername,jdbcType=VARCHAR},
      </if>
      <if test="record.idnumber != null" >
        IDNumber = #{record.idnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.actualmu != null" >
        ActualMu = #{record.actualmu,jdbcType=REAL},
      </if>
      <if test="record.measurementmu != null" >
        MeasurementMu = #{record.measurementmu,jdbcType=REAL},
      </if>
      <if test="record.registeredtotalyield != null" >
        RegisteredTotalYield = #{record.registeredtotalyield,jdbcType=REAL},
      </if>
      <if test="record.graintotalyield != null" >
        GrainTotalYield = #{record.graintotalyield,jdbcType=REAL},
      </if>
      <if test="record.estimatetotalyield != null" >
        EstimateTotalYield = #{record.estimatetotalyield,jdbcType=REAL},
      </if>
      <if test="record.seedpurchasetotal != null" >
        SeedPurchaseTotal = #{record.seedpurchasetotal,jdbcType=REAL},
      </if>
      <if test="record.soldyield != null" >
        SoldYield = #{record.soldyield,jdbcType=REAL},
      </if>
      <if test="record.surplusyield != null" >
        SurplusYield = #{record.surplusyield,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteflag != null" >
        DeleteFlag = #{record.deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="record.createuserid != null" >
        CreateUserId = #{record.createuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuserid != null" >
        UpdateUserId = #{record.updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null" >
        UpdateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_grainfarmerdetail
    set ID = #{record.id,jdbcType=INTEGER},
      HID = #{record.hid,jdbcType=INTEGER},
      FarmerName = #{record.farmername,jdbcType=VARCHAR},
      IDNumber = #{record.idnumber,jdbcType=VARCHAR},
      ActualMu = #{record.actualmu,jdbcType=REAL},
      MeasurementMu = #{record.measurementmu,jdbcType=REAL},
      RegisteredTotalYield = #{record.registeredtotalyield,jdbcType=REAL},
      GrainTotalYield = #{record.graintotalyield,jdbcType=REAL},
      EstimateTotalYield = #{record.estimatetotalyield,jdbcType=REAL},
      SeedPurchaseTotal = #{record.seedpurchasetotal,jdbcType=REAL},
      SoldYield = #{record.soldyield,jdbcType=REAL},
      SurplusYield = #{record.surplusyield,jdbcType=VARCHAR},
      Remark = #{record.remark,jdbcType=VARCHAR},
      DeleteFlag = #{record.deleteflag,jdbcType=VARCHAR},
      CreateUserId = #{record.createuserid,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      UpdateUserId = #{record.updateuserid,jdbcType=VARCHAR},
      UpdateDate = #{record.updatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.intelagr.entity.BGrainfarmerdetail" >
    update b_grainfarmerdetail
    <set >
      <if test="hid != null" >
        HID = #{hid,jdbcType=INTEGER},
      </if>
      <if test="farmername != null" >
        FarmerName = #{farmername,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null" >
        IDNumber = #{idnumber,jdbcType=VARCHAR},
      </if>
      <if test="actualmu != null" >
        ActualMu = #{actualmu,jdbcType=REAL},
      </if>
      <if test="measurementmu != null" >
        MeasurementMu = #{measurementmu,jdbcType=REAL},
      </if>
      <if test="registeredtotalyield != null" >
        RegisteredTotalYield = #{registeredtotalyield,jdbcType=REAL},
      </if>
      <if test="graintotalyield != null" >
        GrainTotalYield = #{graintotalyield,jdbcType=REAL},
      </if>
      <if test="estimatetotalyield != null" >
        EstimateTotalYield = #{estimatetotalyield,jdbcType=REAL},
      </if>
      <if test="seedpurchasetotal != null" >
        SeedPurchaseTotal = #{seedpurchasetotal,jdbcType=REAL},
      </if>
      <if test="soldyield != null" >
        SoldYield = #{soldyield,jdbcType=REAL},
      </if>
      <if test="surplusyield != null" >
        SurplusYield = #{surplusyield,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        CreateUserId = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        UpdateUserId = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        UpdateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.intelagr.entity.BGrainfarmerdetail" >
    update b_grainfarmerdetail
    set HID = #{hid,jdbcType=INTEGER},
      FarmerName = #{farmername,jdbcType=VARCHAR},
      IDNumber = #{idnumber,jdbcType=VARCHAR},
      ActualMu = #{actualmu,jdbcType=REAL},
      MeasurementMu = #{measurementmu,jdbcType=REAL},
      RegisteredTotalYield = #{registeredtotalyield,jdbcType=REAL},
      GrainTotalYield = #{graintotalyield,jdbcType=REAL},
      EstimateTotalYield = #{estimatetotalyield,jdbcType=REAL},
      SeedPurchaseTotal = #{seedpurchasetotal,jdbcType=REAL},
      SoldYield = #{soldyield,jdbcType=REAL},
      SurplusYield = #{surplusyield,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      CreateUserId = #{createuserid,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      UpdateUserId = #{updateuserid,jdbcType=VARCHAR},
      UpdateDate = #{updatedate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>