<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.intelagr.mapper.BSamplingsMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.intelagr.entity.BSamplings" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Year" property="year" jdbcType="VARCHAR" />
    <result column="CompanyCode" property="companycode" jdbcType="VARCHAR" />
    <result column="CheckCode" property="checkcode" jdbcType="VARCHAR" />
    <result column="SampleDate" property="sampledate" jdbcType="TIMESTAMP" />
    <result column="SamplePerson" property="sampleperson" jdbcType="VARCHAR" />
    <result column="BatchNo" property="batchno" jdbcType="VARCHAR" />
    <result column="ProductCode" property="productcode" jdbcType="VARCHAR" />
    <result column="ProductNum" property="productnum" jdbcType="INTEGER" />
    <result column="ProduceDate" property="producedate" jdbcType="TIMESTAMP" />
    <result column="SecurityCode" property="securitycode" jdbcType="VARCHAR" />
    <result column="InspectStatus" property="inspectstatus" jdbcType="VARCHAR" />
    <result column="DeliveryPerson" property="deliveryperson" jdbcType="VARCHAR" />
    <result column="DeliveryDate" property="deliverydate" jdbcType="TIMESTAMP" />
    <result column="ActivationStatus" property="activationstatus" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="DeleteFlag" property="deleteflag" jdbcType="VARCHAR" />
    <result column="CreateUserId" property="createuserid" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="UpdateUserId" property="updateuserid" jdbcType="VARCHAR" />
    <result column="UpdateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, Year, CompanyCode, CheckCode, SampleDate, SamplePerson, BatchNo, ProductCode, 
    ProductNum, ProduceDate, SecurityCode, InspectStatus, DeliveryPerson, DeliveryDate, 
    ActivationStatus, Remark, DeleteFlag, CreateUserId, CreateDate, UpdateUserId, UpdateDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oracle.intelagr.entity.BSamplingsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_samplings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_samplings
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_samplings
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.intelagr.entity.BSamplingsExample" >
    delete from b_samplings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.intelagr.entity.BSamplings" >
    insert into b_samplings (ID, Year, CompanyCode, 
      CheckCode, SampleDate, SamplePerson, 
      BatchNo, ProductCode, ProductNum, 
      ProduceDate, SecurityCode, InspectStatus, 
      DeliveryPerson, DeliveryDate, ActivationStatus, 
      Remark, DeleteFlag, CreateUserId, 
      CreateDate, UpdateUserId, UpdateDate
      )
    values (#{id,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{companycode,jdbcType=VARCHAR}, 
      #{checkcode,jdbcType=VARCHAR}, #{sampledate,jdbcType=TIMESTAMP}, #{sampleperson,jdbcType=VARCHAR}, 
      #{batchno,jdbcType=VARCHAR}, #{productcode,jdbcType=VARCHAR}, #{productnum,jdbcType=INTEGER}, 
      #{producedate,jdbcType=TIMESTAMP}, #{securitycode,jdbcType=VARCHAR}, #{inspectstatus,jdbcType=VARCHAR}, 
      #{deliveryperson,jdbcType=VARCHAR}, #{deliverydate,jdbcType=TIMESTAMP}, #{activationstatus,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{deleteflag,jdbcType=VARCHAR}, #{createuserid,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{updateuserid,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.intelagr.entity.BSamplings" >
    insert into b_samplings
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="year != null" >
        Year,
      </if>
      <if test="companycode != null" >
        CompanyCode,
      </if>
      <if test="checkcode != null" >
        CheckCode,
      </if>
      <if test="sampledate != null" >
        SampleDate,
      </if>
      <if test="sampleperson != null" >
        SamplePerson,
      </if>
      <if test="batchno != null" >
        BatchNo,
      </if>
      <if test="productcode != null" >
        ProductCode,
      </if>
      <if test="productnum != null" >
        ProductNum,
      </if>
      <if test="producedate != null" >
        ProduceDate,
      </if>
      <if test="securitycode != null" >
        SecurityCode,
      </if>
      <if test="inspectstatus != null" >
        InspectStatus,
      </if>
      <if test="deliveryperson != null" >
        DeliveryPerson,
      </if>
      <if test="deliverydate != null" >
        DeliveryDate,
      </if>
      <if test="activationstatus != null" >
        ActivationStatus,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="deleteflag != null" >
        DeleteFlag,
      </if>
      <if test="createuserid != null" >
        CreateUserId,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="updateuserid != null" >
        UpdateUserId,
      </if>
      <if test="updatedate != null" >
        UpdateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null" >
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="checkcode != null" >
        #{checkcode,jdbcType=VARCHAR},
      </if>
      <if test="sampledate != null" >
        #{sampledate,jdbcType=TIMESTAMP},
      </if>
      <if test="sampleperson != null" >
        #{sampleperson,jdbcType=VARCHAR},
      </if>
      <if test="batchno != null" >
        #{batchno,jdbcType=VARCHAR},
      </if>
      <if test="productcode != null" >
        #{productcode,jdbcType=VARCHAR},
      </if>
      <if test="productnum != null" >
        #{productnum,jdbcType=INTEGER},
      </if>
      <if test="producedate != null" >
        #{producedate,jdbcType=TIMESTAMP},
      </if>
      <if test="securitycode != null" >
        #{securitycode,jdbcType=VARCHAR},
      </if>
      <if test="inspectstatus != null" >
        #{inspectstatus,jdbcType=VARCHAR},
      </if>
      <if test="deliveryperson != null" >
        #{deliveryperson,jdbcType=VARCHAR},
      </if>
      <if test="deliverydate != null" >
        #{deliverydate,jdbcType=TIMESTAMP},
      </if>
      <if test="activationstatus != null" >
        #{activationstatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.intelagr.entity.BSamplingsExample" resultType="java.lang.Integer" >
    select count(*) from b_samplings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_samplings
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.year != null" >
        Year = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.companycode != null" >
        CompanyCode = #{record.companycode,jdbcType=VARCHAR},
      </if>
      <if test="record.checkcode != null" >
        CheckCode = #{record.checkcode,jdbcType=VARCHAR},
      </if>
      <if test="record.sampledate != null" >
        SampleDate = #{record.sampledate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sampleperson != null" >
        SamplePerson = #{record.sampleperson,jdbcType=VARCHAR},
      </if>
      <if test="record.batchno != null" >
        BatchNo = #{record.batchno,jdbcType=VARCHAR},
      </if>
      <if test="record.productcode != null" >
        ProductCode = #{record.productcode,jdbcType=VARCHAR},
      </if>
      <if test="record.productnum != null" >
        ProductNum = #{record.productnum,jdbcType=INTEGER},
      </if>
      <if test="record.producedate != null" >
        ProduceDate = #{record.producedate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.securitycode != null" >
        SecurityCode = #{record.securitycode,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectstatus != null" >
        InspectStatus = #{record.inspectstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryperson != null" >
        DeliveryPerson = #{record.deliveryperson,jdbcType=VARCHAR},
      </if>
      <if test="record.deliverydate != null" >
        DeliveryDate = #{record.deliverydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activationstatus != null" >
        ActivationStatus = #{record.activationstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteflag != null" >
        DeleteFlag = #{record.deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="record.createuserid != null" >
        CreateUserId = #{record.createuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuserid != null" >
        UpdateUserId = #{record.updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null" >
        UpdateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_samplings
    set ID = #{record.id,jdbcType=INTEGER},
      Year = #{record.year,jdbcType=VARCHAR},
      CompanyCode = #{record.companycode,jdbcType=VARCHAR},
      CheckCode = #{record.checkcode,jdbcType=VARCHAR},
      SampleDate = #{record.sampledate,jdbcType=TIMESTAMP},
      SamplePerson = #{record.sampleperson,jdbcType=VARCHAR},
      BatchNo = #{record.batchno,jdbcType=VARCHAR},
      ProductCode = #{record.productcode,jdbcType=VARCHAR},
      ProductNum = #{record.productnum,jdbcType=INTEGER},
      ProduceDate = #{record.producedate,jdbcType=TIMESTAMP},
      SecurityCode = #{record.securitycode,jdbcType=VARCHAR},
      InspectStatus = #{record.inspectstatus,jdbcType=VARCHAR},
      DeliveryPerson = #{record.deliveryperson,jdbcType=VARCHAR},
      DeliveryDate = #{record.deliverydate,jdbcType=TIMESTAMP},
      ActivationStatus = #{record.activationstatus,jdbcType=VARCHAR},
      Remark = #{record.remark,jdbcType=VARCHAR},
      DeleteFlag = #{record.deleteflag,jdbcType=VARCHAR},
      CreateUserId = #{record.createuserid,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      UpdateUserId = #{record.updateuserid,jdbcType=VARCHAR},
      UpdateDate = #{record.updatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.intelagr.entity.BSamplings" >
    update b_samplings
    <set >
      <if test="year != null" >
        Year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null" >
        CompanyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="checkcode != null" >
        CheckCode = #{checkcode,jdbcType=VARCHAR},
      </if>
      <if test="sampledate != null" >
        SampleDate = #{sampledate,jdbcType=TIMESTAMP},
      </if>
      <if test="sampleperson != null" >
        SamplePerson = #{sampleperson,jdbcType=VARCHAR},
      </if>
      <if test="batchno != null" >
        BatchNo = #{batchno,jdbcType=VARCHAR},
      </if>
      <if test="productcode != null" >
        ProductCode = #{productcode,jdbcType=VARCHAR},
      </if>
      <if test="productnum != null" >
        ProductNum = #{productnum,jdbcType=INTEGER},
      </if>
      <if test="producedate != null" >
        ProduceDate = #{producedate,jdbcType=TIMESTAMP},
      </if>
      <if test="securitycode != null" >
        SecurityCode = #{securitycode,jdbcType=VARCHAR},
      </if>
      <if test="inspectstatus != null" >
        InspectStatus = #{inspectstatus,jdbcType=VARCHAR},
      </if>
      <if test="deliveryperson != null" >
        DeliveryPerson = #{deliveryperson,jdbcType=VARCHAR},
      </if>
      <if test="deliverydate != null" >
        DeliveryDate = #{deliverydate,jdbcType=TIMESTAMP},
      </if>
      <if test="activationstatus != null" >
        ActivationStatus = #{activationstatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        CreateUserId = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        UpdateUserId = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        UpdateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.intelagr.entity.BSamplings" >
    update b_samplings
    set Year = #{year,jdbcType=VARCHAR},
      CompanyCode = #{companycode,jdbcType=VARCHAR},
      CheckCode = #{checkcode,jdbcType=VARCHAR},
      SampleDate = #{sampledate,jdbcType=TIMESTAMP},
      SamplePerson = #{sampleperson,jdbcType=VARCHAR},
      BatchNo = #{batchno,jdbcType=VARCHAR},
      ProductCode = #{productcode,jdbcType=VARCHAR},
      ProductNum = #{productnum,jdbcType=INTEGER},
      ProduceDate = #{producedate,jdbcType=TIMESTAMP},
      SecurityCode = #{securitycode,jdbcType=VARCHAR},
      InspectStatus = #{inspectstatus,jdbcType=VARCHAR},
      DeliveryPerson = #{deliveryperson,jdbcType=VARCHAR},
      DeliveryDate = #{deliverydate,jdbcType=TIMESTAMP},
      ActivationStatus = #{activationstatus,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      CreateUserId = #{createuserid,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      UpdateUserId = #{updateuserid,jdbcType=VARCHAR},
      UpdateDate = #{updatedate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>