<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.intelagr.mapper.BSoilmonitoringMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.intelagr.entity.BSoilmonitoring" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MonitorDate" property="monitordate" jdbcType="TIMESTAMP" />
    <result column="MonitorPointCode" property="monitorpointcode" jdbcType="VARCHAR" />
    <result column="OMValue" property="omvalue" jdbcType="REAL" />
    <result column="AlkelineN" property="alkelinen" jdbcType="REAL" />
    <result column="OlsenP" property="olsenp" jdbcType="REAL" />
    <result column="OlsenK" property="olsenk" jdbcType="REAL" />
    <result column="PH" property="ph" jdbcType="REAL" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="DeleteFlag" property="deleteflag" jdbcType="VARCHAR" />
    <result column="CreateUserId" property="createuserid" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="UpdateUserId" property="updateuserid" jdbcType="VARCHAR" />
    <result column="UpdateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, MonitorDate, MonitorPointCode, OMValue, AlkelineN, OlsenP, OlsenK, PH, Remark, 
    DeleteFlag, CreateUserId, CreateDate, UpdateUserId, UpdateDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oracle.intelagr.entity.BSoilmonitoringExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_soilmonitoring
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_soilmonitoring
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_soilmonitoring
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.intelagr.entity.BSoilmonitoringExample" >
    delete from b_soilmonitoring
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.intelagr.entity.BSoilmonitoring" >
    insert into b_soilmonitoring (ID, MonitorDate, MonitorPointCode, 
      OMValue, AlkelineN, OlsenP, 
      OlsenK, PH, Remark, DeleteFlag, 
      CreateUserId, CreateDate, UpdateUserId, 
      UpdateDate)
    values (#{id,jdbcType=INTEGER}, #{monitordate,jdbcType=TIMESTAMP}, #{monitorpointcode,jdbcType=VARCHAR}, 
      #{omvalue,jdbcType=REAL}, #{alkelinen,jdbcType=REAL}, #{olsenp,jdbcType=REAL}, 
      #{olsenk,jdbcType=REAL}, #{ph,jdbcType=REAL}, #{remark,jdbcType=VARCHAR}, #{deleteflag,jdbcType=VARCHAR}, 
      #{createuserid,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{updateuserid,jdbcType=VARCHAR}, 
      #{updatedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.intelagr.entity.BSoilmonitoring" >
    insert into b_soilmonitoring
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="monitordate != null" >
        MonitorDate,
      </if>
      <if test="monitorpointcode != null" >
        MonitorPointCode,
      </if>
      <if test="omvalue != null" >
        OMValue,
      </if>
      <if test="alkelinen != null" >
        AlkelineN,
      </if>
      <if test="olsenp != null" >
        OlsenP,
      </if>
      <if test="olsenk != null" >
        OlsenK,
      </if>
      <if test="ph != null" >
        PH,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="deleteflag != null" >
        DeleteFlag,
      </if>
      <if test="createuserid != null" >
        CreateUserId,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="updateuserid != null" >
        UpdateUserId,
      </if>
      <if test="updatedate != null" >
        UpdateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="monitordate != null" >
        #{monitordate,jdbcType=TIMESTAMP},
      </if>
      <if test="monitorpointcode != null" >
        #{monitorpointcode,jdbcType=VARCHAR},
      </if>
      <if test="omvalue != null" >
        #{omvalue,jdbcType=REAL},
      </if>
      <if test="alkelinen != null" >
        #{alkelinen,jdbcType=REAL},
      </if>
      <if test="olsenp != null" >
        #{olsenp,jdbcType=REAL},
      </if>
      <if test="olsenk != null" >
        #{olsenk,jdbcType=REAL},
      </if>
      <if test="ph != null" >
        #{ph,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.intelagr.entity.BSoilmonitoringExample" resultType="java.lang.Integer" >
    select count(*) from b_soilmonitoring
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_soilmonitoring
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.monitordate != null" >
        MonitorDate = #{record.monitordate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.monitorpointcode != null" >
        MonitorPointCode = #{record.monitorpointcode,jdbcType=VARCHAR},
      </if>
      <if test="record.omvalue != null" >
        OMValue = #{record.omvalue,jdbcType=REAL},
      </if>
      <if test="record.alkelinen != null" >
        AlkelineN = #{record.alkelinen,jdbcType=REAL},
      </if>
      <if test="record.olsenp != null" >
        OlsenP = #{record.olsenp,jdbcType=REAL},
      </if>
      <if test="record.olsenk != null" >
        OlsenK = #{record.olsenk,jdbcType=REAL},
      </if>
      <if test="record.ph != null" >
        PH = #{record.ph,jdbcType=REAL},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteflag != null" >
        DeleteFlag = #{record.deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="record.createuserid != null" >
        CreateUserId = #{record.createuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuserid != null" >
        UpdateUserId = #{record.updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null" >
        UpdateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_soilmonitoring
    set ID = #{record.id,jdbcType=INTEGER},
      MonitorDate = #{record.monitordate,jdbcType=TIMESTAMP},
      MonitorPointCode = #{record.monitorpointcode,jdbcType=VARCHAR},
      OMValue = #{record.omvalue,jdbcType=REAL},
      AlkelineN = #{record.alkelinen,jdbcType=REAL},
      OlsenP = #{record.olsenp,jdbcType=REAL},
      OlsenK = #{record.olsenk,jdbcType=REAL},
      PH = #{record.ph,jdbcType=REAL},
      Remark = #{record.remark,jdbcType=VARCHAR},
      DeleteFlag = #{record.deleteflag,jdbcType=VARCHAR},
      CreateUserId = #{record.createuserid,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      UpdateUserId = #{record.updateuserid,jdbcType=VARCHAR},
      UpdateDate = #{record.updatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.intelagr.entity.BSoilmonitoring" >
    update b_soilmonitoring
    <set >
      <if test="monitordate != null" >
        MonitorDate = #{monitordate,jdbcType=TIMESTAMP},
      </if>
      <if test="monitorpointcode != null" >
        MonitorPointCode = #{monitorpointcode,jdbcType=VARCHAR},
      </if>
      <if test="omvalue != null" >
        OMValue = #{omvalue,jdbcType=REAL},
      </if>
      <if test="alkelinen != null" >
        AlkelineN = #{alkelinen,jdbcType=REAL},
      </if>
      <if test="olsenp != null" >
        OlsenP = #{olsenp,jdbcType=REAL},
      </if>
      <if test="olsenk != null" >
        OlsenK = #{olsenk,jdbcType=REAL},
      </if>
      <if test="ph != null" >
        PH = #{ph,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        CreateUserId = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        UpdateUserId = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        UpdateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.intelagr.entity.BSoilmonitoring" >
    update b_soilmonitoring
    set MonitorDate = #{monitordate,jdbcType=TIMESTAMP},
      MonitorPointCode = #{monitorpointcode,jdbcType=VARCHAR},
      OMValue = #{omvalue,jdbcType=REAL},
      AlkelineN = #{alkelinen,jdbcType=REAL},
      OlsenP = #{olsenp,jdbcType=REAL},
      OlsenK = #{olsenk,jdbcType=REAL},
      PH = #{ph,jdbcType=REAL},
      Remark = #{remark,jdbcType=VARCHAR},
      DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      CreateUserId = #{createuserid,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      UpdateUserId = #{updateuserid,jdbcType=VARCHAR},
      UpdateDate = #{updatedate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>