<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.intelagr.mapper.MProductMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.intelagr.entity.MProduct" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CompanyCode" property="companycode" jdbcType="VARCHAR" />
    <result column="ProductCode" property="productcode" jdbcType="VARCHAR" />
    <result column="ProductName" property="productname" jdbcType="VARCHAR" />
    <result column="Unit" property="unit" jdbcType="VARCHAR" />
    <result column="Weight" property="weight" jdbcType="REAL" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="DeleteFlag" property="deleteflag" jdbcType="VARCHAR" />
    <result column="CreateUserId" property="createuserid" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="UpdateUserId" property="updateuserid" jdbcType="VARCHAR" />
    <result column="UpdateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CompanyCode, ProductCode, ProductName, Unit, Weight, Remark, DeleteFlag, CreateUserId, 
    CreateDate, UpdateUserId, UpdateDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oracle.intelagr.entity.MProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from m_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_product
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_product
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.intelagr.entity.MProductExample" >
    delete from m_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.intelagr.entity.MProduct" >
    insert into m_product (ID, CompanyCode, ProductCode, 
      ProductName, Unit, Weight, 
      Remark, DeleteFlag, CreateUserId, 
      CreateDate, UpdateUserId, UpdateDate
      )
    values (#{id,jdbcType=INTEGER}, #{companycode,jdbcType=VARCHAR}, #{productcode,jdbcType=VARCHAR}, 
      #{productname,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{weight,jdbcType=REAL}, 
      #{remark,jdbcType=VARCHAR}, #{deleteflag,jdbcType=VARCHAR}, #{createuserid,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{updateuserid,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.intelagr.entity.MProduct" >
    insert into m_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="companycode != null" >
        CompanyCode,
      </if>
      <if test="productcode != null" >
        ProductCode,
      </if>
      <if test="productname != null" >
        ProductName,
      </if>
      <if test="unit != null" >
        Unit,
      </if>
      <if test="weight != null" >
        Weight,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="deleteflag != null" >
        DeleteFlag,
      </if>
      <if test="createuserid != null" >
        CreateUserId,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
      <if test="updateuserid != null" >
        UpdateUserId,
      </if>
      <if test="updatedate != null" >
        UpdateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companycode != null" >
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="productcode != null" >
        #{productcode,jdbcType=VARCHAR},
      </if>
      <if test="productname != null" >
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.intelagr.entity.MProductExample" resultType="java.lang.Integer" >
    select count(*) from m_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update m_product
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companycode != null" >
        CompanyCode = #{record.companycode,jdbcType=VARCHAR},
      </if>
      <if test="record.productcode != null" >
        ProductCode = #{record.productcode,jdbcType=VARCHAR},
      </if>
      <if test="record.productname != null" >
        ProductName = #{record.productname,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null" >
        Unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null" >
        Weight = #{record.weight,jdbcType=REAL},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteflag != null" >
        DeleteFlag = #{record.deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="record.createuserid != null" >
        CreateUserId = #{record.createuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateuserid != null" >
        UpdateUserId = #{record.updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedate != null" >
        UpdateDate = #{record.updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update m_product
    set ID = #{record.id,jdbcType=INTEGER},
      CompanyCode = #{record.companycode,jdbcType=VARCHAR},
      ProductCode = #{record.productcode,jdbcType=VARCHAR},
      ProductName = #{record.productname,jdbcType=VARCHAR},
      Unit = #{record.unit,jdbcType=VARCHAR},
      Weight = #{record.weight,jdbcType=REAL},
      Remark = #{record.remark,jdbcType=VARCHAR},
      DeleteFlag = #{record.deleteflag,jdbcType=VARCHAR},
      CreateUserId = #{record.createuserid,jdbcType=VARCHAR},
      CreateDate = #{record.createdate,jdbcType=TIMESTAMP},
      UpdateUserId = #{record.updateuserid,jdbcType=VARCHAR},
      UpdateDate = #{record.updatedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.intelagr.entity.MProduct" >
    update m_product
    <set >
      <if test="companycode != null" >
        CompanyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="productcode != null" >
        ProductCode = #{productcode,jdbcType=VARCHAR},
      </if>
      <if test="productname != null" >
        ProductName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        Unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        Weight = #{weight,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteflag != null" >
        DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      </if>
      <if test="createuserid != null" >
        CreateUserId = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateuserid != null" >
        UpdateUserId = #{updateuserid,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        UpdateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.intelagr.entity.MProduct" >
    update m_product
    set CompanyCode = #{companycode,jdbcType=VARCHAR},
      ProductCode = #{productcode,jdbcType=VARCHAR},
      ProductName = #{productname,jdbcType=VARCHAR},
      Unit = #{unit,jdbcType=VARCHAR},
      Weight = #{weight,jdbcType=REAL},
      Remark = #{remark,jdbcType=VARCHAR},
      DeleteFlag = #{deleteflag,jdbcType=VARCHAR},
      CreateUserId = #{createuserid,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      UpdateUserId = #{updateuserid,jdbcType=VARCHAR},
      UpdateDate = #{updatedate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>